.card {
    border: none ; 
    border-bottom: solid black 0.75px;
    border-radius: 0%;
}

.card-title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

.card-body {
    font-family:  'Comic Neue', cursive;
}

.btn {
    float: right;
}
.card-body {
    padding: 0px;
}
.a{
    margin: none;
}